/* all */
html {
    font-family: monaco, "Osaka",Consolas, "Lucida Console", monospace, arial, sans-serif;;
    margin:10px;
    color:#242424;
}
body{
    max-width:800px;
    margin:auto;
}
header{
    width:100%;
}
/* header */
.tn__header{
    width:100%;
}
.tn__header-logo{
    text-align: left;
    max-width:250px;
}
/* hero */
.tn__hero{
    padding:25px 25px 5px;
    text-align: center;
    border-bottom:1px dashed #999;
}
.tn__hero-img{
    margin-bottom:10px;
}
/* top */
.tn__content-page-items{
    display: table;
    padding:8px;
    list-style-type: none;
}
.tn__content-page-item{
    padding:8px 12px;
    width: 100%;
    display: table;
    color: inherit;
    text-decoration: none;
}
.tn__content-page-item-title{
    display: table-cell;
    width: 6em;
}
.tn__content-page-item-detail{
    display: table-cell;
}
ul a:hover{
    background-color:#eee;
}
/* footer */
.tn__footer{
    border-top:1px dashed #999;
    text-align: center;
}
/* blog */
.tn__blog-hero-img{
    margin-bottom:0px;
    max-width:200px;
}
.tn__blog-archive-anchor{
    color: inherit;
    text-decoration: none;
}
.tn__blog-archive-title{
    font-size: 2em;
}
.tn__blog-archive-date{
    font-size: 100%;
    color:#999;
    padding-left:15px;
    margin-bottom: 15px;
}
.tn__blog-date{
    font-size: 100%;
    color:#999;
    margin-bottom: 15px;
}
.tb__blog-content img{
    width: 100%;
}
/* Code Block */
.listingblock{
    background-color:#f7f7f7;
    border-radius: 3px;
    padding:.6em 1.2em;
    overflow-x:auto;
}
/* quotation */
blockquote {
    font-style:italic;
}
