{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
    {{ partial "header.html" . }}
    <div class="tn__hero">
      <div class="tn__hero-img-blog"><img alt="hero" src="/img/blog.svg"/></div>
    </div>
    <article>
      <ul>
        {{ range (.Paginate (where .Data.Pages "Section" "blog") 10).Pages }}
          {{ .Render "li" }}
        {{ end }}
      </ul>
    </article>
    <nav>
      <a href="#">前へ</a>
      <a href="#">次へ</a>
    </nav>
    {{ partial "footer.html" . }}
{{ end }}
