<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ .Site.Params.Description }}">
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
    {{ if eq $url "blog/" }}
    <link rel="amphtml" href="{{.Site.BaseURL}}{{ $url }}amp/">
    {{ else }}
    <link rel="amphtml" href="{{.Site.BaseURL}}amp/{{ $url }}">
    {{ end }}
    <link rel="alternate" hreflang="ja" href="{{ .Site.BaseURL }}">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link href="/css/termnize.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    {{ template "_internal/google_analytics.html" . }}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-7714239321627994",
  enable_page_level_ads: true
});
    </script>
  </head>
  <body>
    {{ block "main" . }}
    {{ end }}
  </body>
</html>
